<div id="<%= dom_id recipe %>">
  <h2>
    <%= link_to recipe.title, recipe %>
  </h2>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= recipe.votes %>
  </p>

</div>
