<h1>Rezept Bearbeiten</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>
  <%= link_to "Rezept anzeigen", @recipe, class: "btn btn-primary" %> |
  <%= link_to "Zurück zu allen Rezepten", recipes_path, class: "btn btn-primary" %>
</div>
