<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center align-items-center">
  <%= link_to "New recipe", new_recipe_path, class:"btn btn-warning" %>
</div>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
